__pycache__/
.idea/
.ipynb_checkpoints/
*.py[cod]
*.so
*.orig
*.o
*.json
*.pth
*.npy
*.ipynb
/data/
exps/
debug/
*.png
*.pkl
*.tar
exps
*.ply
*.obj
._.DS_Store
.DS_Store
exps*
data/
metrics/
priors/
vis_buffer/
canonical_joints/

